.movies{
    padding: 10px;
    @include tablet-min{
      padding: 15px;
    }
    @include tablet-landscape-min{
      padding: 25px;
    }
    @include desktop-min{
      padding: 30px;
    }
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 10px;
      @include tablet-min{
        padding: 23px 15px;
      color: black;
      }
      @include tablet-landscape-min{
        padding: 16px 25px;
      }
      @include desktop-min{
        padding: 8px 30px;
      }
    }
      &__title{
        margin: 0;
        font-size: 16px;
        line-height: 16px;
        color: $c-dark;
        font-weight: 300;
        @include tablet-min{
          font-size: 18px;
          line-height: 18px;
        }
      }
      &__results{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: rgba($c-dark, 0.5);
      }
      &__link{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.5px;
        color: rgba($c-dark, 0.5);
        text-decoration: none;
        transition: color 0.5s ease;
        &:after{
          content: " →";
        }
        &:hover{
          color: $c-dark;
        }
      }
    &__list{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
      &__item{
        padding: 10px;
        width: 50%;
        @include tablet-min{
          padding: 15px;
        }
        @include tablet-landscape-min{
          padding: 20px;
          width: 25%;
        }
        @include desktop-min{
          padding: 30px;
          width: 20%;
        }
      }
      &__nav{
        padding: 25px 0;
        text-align: center;
        &.is-hidden{
          display: none;
        }
      }
  }